<h1>Welcome home, {{account.fullname}}</h1>
<div class="mt-4">
    <div class="row">
        {{#each posts}}
        <div class="col-sm-6 col-lg-4">
            <div class="card card-course-item">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.text}}</p>
                    <a href="/account/{{this._id}}/editpost" class="btn btn-primary">Edit</a>
                    <a href="/account/{{this._id}}/deletepost" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<a href="/profile">View profile</a><br>
<a href="/user/friends">View friends</a><br>
<a href="/user/received">View all received friend requests</a><br>
<a href="/user/request">View all friend requests sent</a><br>